<!doctype html>
<html lang="{{ .Site.Language.Lang }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="/modules/reveal.js/dist/reset.css">
    <link rel="stylesheet" href="/modules/reveal.js/dist/reveal.css">
    <link rel="stylesheet" href="/modules/reveal.js/dist/theme/night.css">
    {{partial "ga" . }}
</head>
<body>
    <section class="reveal">
        <div class="slides">
            <section data-markdown data-separator="^\n---\n$" data-separator-vertical="^\n>>>\n$">
                <textarea data-template>
{{ readFile .Params.src }}
                </textarea>

            </section>
        </div>
    </section>

    <script src="/modules/reveal.js/dist/reveal.js"></script>
    <script src="/modules/reveal.js/plugin/markdown/plugin.js"></script>
    <script src="/modules/reveal.js/plugin/markdown/markdown.js"></script>
    <script src="/modules/reveal.js/plugin/highlight/highlight.js"></script>
    <script src="/modules/reveal.js/plugin/notes/notes.js"></script>
    <script>
        Reveal.initialize({
            controls: true,
            progress: true,
            history: true,
            center: true,

            plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ]
        });
    </script>
    {{ partial "twitter" . }}
</body>
</html>

